# Creating file paths for all datasets

In [1]:
customer_data_path = "C:\\Users\\ADMIN\\Desktop\\Cart Abandonment\\Cart Abandonment Datasets\\customer_table.csv"
date_data_path = "C:\\Users\\ADMIN\\Desktop\\Cart Abandonment\\Cart Abandonment Datasets\\date_table.csv"
device_data_path = "C:\\Users\\ADMIN\\Desktop\\Cart Abandonment\\Cart Abandonment Datasets\\device_table.csv"
facts_data_path = "C:\\Users\\ADMIN\\Desktop\\Cart Abandonment\\Cart Abandonment Datasets\\fact_table.csv"
product_data_path = "C:\\Users\\ADMIN\\Desktop\\Cart Abandonment\\Cart Abandonment Datasets\\product_table.csv"

In [2]:
import numpy as np
import pandas as pd

# Reading paths into dataframes

In [3]:
customer_df = pd.read_csv(customer_data_path)
date_df = pd.read_csv(date_data_path)
device_df = pd.read_csv(device_data_path)
facts_df = pd.read_csv(facts_data_path)
product_df = pd.read_csv(product_data_path)

# Using info() to check the structure of the dataframes

In [4]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   age            1000 non-null   int64
 3   gender         1000 non-null   object
 4   city           1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [5]:
date_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date_id  366 non-null    int64
 1   date     366 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.8+ KB

In [6]:
device_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   device_id    5 non-null      int64
 1   device_type  5 non-null      object
 2   os           5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

In [7]:
facts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   session_id    5000 non-null   int64
 1   customer_id   5000 non-null   int64
 2   product_id    5000 non-null   int64
 3   device_id     5000 non-null   int64
 4   date_id       5000 non-null   int64
 5   quantity      5000 non-null   int64
 6   abandon_date  2524 non-null   object
 7   abandon_time  2524 non-null   object
dtypes: int64(6), object(2)
memory usage: 312.6+ KB

In [8]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    25 non-null     int64
 1   product_name  25 non-null     object
 2   category      25 non-null     object
 3   price         25 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 932.0+ bytes

# Reading the datasets using head() to preview the data

In [9]:
customer_df.head()

   customer_id customer_name  age  gender      city
0            1    Customer 1   49  Female    London
1            2    Customer 2   45    Male    London
2            3    Customer 3   51    Male    London
3            4    Customer 4   38    Male  New York
4            5    Customer 5   26    Male    London

In [10]:
date_df.head()

   date_id      date
0        1  1/1/2023
1        2  1/2/2023
2        3  1/3/2023
3        4  1/4/2023
4        5  1/5/2023

In [11]:
device_df.head()

   device_id device_type       os
0          1      Tablet      iOS
1          2     Desktop      iOS
2          3      Mobile  Windows
3          4      Mobile  Android
4          5      Tablet      iOS

In [12]:
facts_df.head()

,session_id,customer_id,product_id,device_id,date_id,quantity,abandon_date,abandon_time
0,1,979,20,5,252,4,7/13/2023,01:09:01
1,2,373,12,3,353,2,11/07/2023,13:40:54
2,3,32,3,4,286,2,03/03/2023,20:37:31
3,4,631,25,1,365,2,NaN,NaN
4,5,127,9,3,163,3,7/22/2023,06:41:51

In [13]:
product_df.head()

   product_id product_name     category    price
0           1       Laptop  Electronics  1026.94
1           2   Smartphone  Electronics   641.94
2           3   Headphones  Electronics   866.21
3           4   Smartwatch  Electronics  1221.77
4           5       Camera  Electronics  1290.76

# Checking each dataset for null values

In [14]:
import pandas as pd

def check_null(df):
    null_counts = df.isnull().sum()
    total_nulls = null_counts.sum()
    return null_counts, total_nulls

In [15]:
check_null(customer_df)

(customer_id      0
 customer_name    0
 age              0
 gender           0
 city             0
 dtype: int64,
 np.int64(0))

In [16]:
check_null(date_df)

(date_id    0
 date       0
 dtype: int64,
 np.int64(0))

In [17]:
check_null(device_df)

(device_id      0
 device_type    0
 os             0
 dtype: int64,
 np.int64(0))

In [18]:
check_null(facts_df)

(session_id         0
 customer_id        0
 product_id         0
 device_id          0
 date_id            0
 quantity           0
 abandon_date    2476
 abandon_time    2476
 dtype: int64,
 np.int64(4952))

In [19]:
check_null(product_df)

(product_id      0
 product_name    0
 category        0
 price           0
 dtype: int64,
 np.int64(0))

# Reviewing and fixing data types

In [20]:
import numpy as np
import pandas as pd

In [21]:
customer_df['customer_id'] = customer_df['customer_id'].astype('int64')
customer_df['customer_name'] = customer_df['customer_name'].astype('string')
customer_df['age'] = customer_df['age'].astype('int64')
customer_df['gender'] = customer_df['gender'].astype('string')
customer_df['city'] = customer_df['city'].astype('string')  

customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   int64
 1   customer_name  1000 non-null   string
 2   age            1000 non-null   int64
 3   gender         1000 non-null   string
 4   city           1000 non-null   string
dtypes: int64(2), string(3)
memory usage: 39.2 KB

In [22]:
date_df['date_id'] = date_df['date_id'].astype('int64')
date_df['date'] = pd.to_datetime(date_df['date'])

date_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date_id  366 non-null    int64
 1   date     366 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.8 KB

In [23]:
device_df['device_id'] = device_df['device_id'].astype('int64')
device_df['device_type'] = device_df['device_type'].astype('string')
device_df['os'] = device_df['os'].astype('string')

device_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   device_id    5 non-null      int64
 1   device_type  5 non-null      string
 2   os           5 non-null      string
dtypes: int64(1), string(2)
memory usage: 252.0 bytes

In [24]:
facts_df['session_id'] = facts_df['session_id'].astype('int64')
facts_df['customer_id'] = facts_df['customer_id'].astype('int64')
facts_df['product_id'] = facts_df['product_id'].astype('int64')
facts_df['device_id'] = facts_df['device_id'].astype('int64')
facts_df['date_id'] = facts_df['date_id'].astype('int64')
facts_df['quantity']= facts_df['quantity'].astype('int64')
facts_df['abandon_date'] = pd.to_datetime(facts_df['abandon_date'])
facts_df['abandon_time'] = pd.to_datetime(facts_df['abandon_time'])
facts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   session_id    5000 non-null   int64
 1   customer_id   5000 non-null   int64
 2   product_id    5000 non-null   int64
 3   device_id     5000 non-null   int64
 4   date_id       5000 non-null   int64
 5   quantity      5000 non-null   int64
 6   abandon_date  2524 non-null   datetime64[ns]
 7   abandon_time  2524 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(6)
memory usage: 312.6 KB

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_780\359901333.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  facts_df['abandon_time'] = pd.to_datetime(facts_df['abandon_time'])

In [25]:
product_df['product_id'] = product_df['product_id'].astype('int64')
product_df['product_name'] = product_df['product_name'].astype('string')
product_df['category'] = product_df['category'].astype('string')
product_df['price'] = product_df['price'].astype('float64')

product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    25 non-null     int64
 1   product_name  25 non-null     string
 2   category      25 non-null     string
 3   price         25 non-null     float64
dtypes: float64(1), int64(1), string(2)
memory usage: 932.0 bytes

# Checking unique values in all columns

In [26]:
print(customer_df['customer_name'].value_counts())
print(customer_df['age'].value_counts())
print(customer_df['gender'].value_counts())

customer_name
Customer 9       1
Customer 1000    1
Customer 1       1
Customer 2       1
Customer 3       1
                ..
Customer 980     1
Customer 981     1
Customer 982     1
Customer 983     1
Customer 984     1
Name: count, Length: 1000, dtype: Int64
age
20    31
42    30
51    28
35    28
56    28
45    27
43    27
40    26
63    25
36    25
23    24
44    24
41    24
34    23
32    23
58    23
22    22
54    22
33    22
61    21
59    21
25    21
19    20
53    20
55    20
37    20
47    20
46    20
48    20
49    20
38    19
52    19
57    19
18    19
29    19
31    19
30    19
39    18
24    18
64    18
60    18
62    18
21    17
28    15
50    15
26    14
27    11
Name: count, dtype: int64
gender
Female    501
Male      499
Name: count, dtype: Int64

In [27]:
print(date_df['date'].value_counts())

date
2024-01-01    1
2023-01-01    1
2023-01-02    1
2023-01-03    1
2023-01-04    1
             ..
2023-01-19    1
2023-01-18    1
2023-01-17    1
2023-01-16    1
2023-01-15    1
Name: count, Length: 366, dtype: int64

In [28]:
print(device_df['device_type'].value_counts())
print(device_df['os'].value_counts())

device_type
Tablet     2
Mobile     2
Desktop    1
Name: count, dtype: Int64
os
iOS        3
Windows    1
Android    1
Name: count, dtype: Int64

In [29]:
print(product_df['product_name'].value_counts())
print(product_df['category'].value_counts())

product_name
Laptop            1
Smartphone        1
Headphones        1
Smartwatch        1
Camera            1
T-Shirt           1
Jeans             1
Jacket            1
Sneakers          1
Dress             1
Blender           1
Cookware Set      1
Vacuum Cleaner    1
Air Purifier      1
Coffee Maker      1
Shampoo           1
Skincare Set      1
Makeup Kit        1
Perfume           1
Body Lotion       1
Bicycle           1
Yoga Mat          1
Dumbbells         1
Running Shoes     1
Tennis Racket     1
Name: count, dtype: Int64
category
Electronics               5
Apparel                   5
Home & Kitchen            5
Beauty & Personal Care    5
Sports & Outdoors         5
Name: count, dtype: Int64

In [30]:
# We dont need ID columns for analysis, so ignoring them

# Checking values in IDs for consistency across datasets

In [31]:
 
customer_ids = set(customer_df['customer_id'])
product_ids = set(product_df['product_id'])
device_ids = set(device_df['device_id'])
date_ids = set(date_df['date_id'])
 
inconsit = [] # Getting unique IDs, then making a list to store inconsistencies
 
customerID_missing = set(facts_df['customer_id']) - customer_ids
if customerID_missing:
    inconsit.append(f'Missing customer_ids in customer_table: {sorted(customerID_missing)}')

productID_missing = set(facts_df['product_id']) - product_ids
if productID_missing:
    inconsit.append(f'Missing product_ids in product_table: {sorted(productID_missing)}')

deviceID_missing = set(facts_df['device_id']) - device_ids
if deviceID_missing:
    inconsit.append(f'Missing device_ids in device_table: {sorted(deviceID_missing)}')

dateID_missing = set(facts_df['date_id']) - date_ids
if dateID_missing:
    inconsit.append(f'Missing date_ids in date_table: {sorted(dateID_missing)}')

if inconsit:
    print('Inconsistencies found:')
    for i in inconsit:
         print(i)
else:
     print('All ID columns are consistent across datasets.')

All ID columns are consistent across datasets.

# Generating abandonment flag

In [32]:
facts_df['is_abandoned'] = facts_df['abandon_date'].notna().astype(int)

In [33]:
abandon_stats = facts_df['is_abandoned'].value_counts()
abandon_percent = facts_df['is_abandoned'].value_counts(normalize=True) * 100

print("Abandonment Statistics:")
print(f"Completed Carts (0): {abandon_stats[0]} ({abandon_percent[0]:.2f}%)")
print(f"Abandoned Carts (1): {abandon_stats[1]} ({abandon_percent[1]:.2f}%)")
print(f"\nTotal Sessions: {len(facts_df)}")
print(f"Abandonment Rate: {abandon_percent[1]:.2f}%")

Abandonment Statistics:
Completed Carts (0): 2476 (49.52%)
Abandoned Carts (1): 2524 (50.48%)

Total Sessions: 5000
Abandonment Rate: 50.48%

# Using OS module to save cleaned dataframes to CSV files and exporting

In [34]:
import os

output_dir = "C:\\Users\\ADMIN\\Desktop\\Cart Abandonment\\Cleaned_Datasets"

# Create the directory if it doesn't exist
if not os.path.exists(output_dir):
    os.makedirs(output_dir)
    print(f"Created directory: {output_dir}")

customer_path = os.path.join(output_dir, "customer_table.csv")
date_path = os.path.join(output_dir, "date_table.csv")
device_path = os.path.join(output_dir, "device_table.csv")
facts_path = os.path.join(output_dir, "fact_table.csv")
product_path = os.path.join(output_dir, "product_table.csv")

# Export cleaned dataframes to CSV files
customer_df.to_csv(customer_path, index=False)
print(f"✓ Saved: {customer_path}")

date_df.to_csv(date_path, index=False)
print(f"✓ Saved: {date_path}")

device_df.to_csv(device_path, index=False)
print(f"✓ Saved: {device_path}")

facts_df.to_csv(facts_path, index=False)
print(f"✓ Saved: {facts_path}")

product_df.to_csv(product_path, index=False)
print(f"✓ Saved: {product_path}")

print("\n✓ All cleaned dataframes have been exported ")

Created directory: C:\Users\ADMIN\Desktop\Cart Abandonment\Cleaned_Datasets
✓ Saved: C:\Users\ADMIN\Desktop\Cart Abandonment\Cleaned_Datasets\customer_table.csv
✓ Saved: C:\Users\ADMIN\Desktop\Cart Abandonment\Cleaned_Datasets\date_table.csv
✓ Saved: C:\Users\ADMIN\Desktop\Cart Abandonment\Cleaned_Datasets\device_table.csv
✓ Saved: C:\Users\ADMIN\Desktop\Cart Abandonment\Cleaned_Datasets\fact_table.csv
✓ Saved: C:\Users\ADMIN\Desktop\Cart Abandonment\Cleaned_Datasets\product_table.csv

✓ All cleaned dataframes have been exported

# Using pickle to save processed dataframes for future use

In [35]:
import pickle
with open('variables.pkl', 'wb') as f:
    pickle.dump({'customer': customer_df, 'date': date_df, 'facts': facts_df, 'product': product_df, 'device': device_df}, f)