In [4]:
import numpy as np
import pandas as pd

In [5]:
import pickle

# Load the processed DataFrames from variables.pkl
with open('variables.pkl', 'rb') as f:
    vars_dict = pickle.load(f)

# Extract the DataFrames
customer_df = vars_dict['customer']
date_df = vars_dict['date']
facts_df = vars_dict['facts']
product_df = vars_dict['product']
device_df = vars_dict['device']

# Verify the DataFrames are loaded
print("DataFrames loaded successfully:")
print(f"customer_df shape: {customer_df.shape}")
print(f"date_df shape: {date_df.shape}")
print(f"facts_df shape: {facts_df.shape}")
print(f"product_df shape: {product_df.shape}")
print(f"device_df shape: {device_df.shape}")

DataFrames loaded successfully:
customer_df shape: (1000, 5)
date_df shape: (366, 2)
facts_df shape: (5000, 7)
product_df shape: (25, 4)
device_df shape: (5, 3)

In [6]:
customer_df.head()

   customer_id customer_name  age  gender      city
0            1    Customer 1   49  Female    London
1            2    Customer 2   45    Male    London
2            3    Customer 3   51    Male    London
3            4    Customer 4   38    Male  New York
4            5    Customer 5   26    Male    London